<!DOCTYPE html>
<html>
<head>
    <title>Lecturas RFID</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Tarjetas Detectadas</h2>

<table id="tabla">
    <thead>
        <tr>
            <th>ID</th>
            <th>UID</th>
            <th>Fecha</th>
        </tr>
    </thead>

    <tbody>

    {% for t in tarjetas %}
    <tr>
        <td>{{t.id}}</td>
        <td>{{t.uid}}</td>
        <td>{{t.fecha}}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>

<script src="/static/main.js"></script>

</body>
</html>